@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}

body {
  @apply bg-slate-300;
  /*@apply transition-all duration-500;*/
  /*@apply max-w-screen-2xl lg:px-16 lg:py-5 max-lg:px-5 max-lg:py-5 max-sm:py-2;*/
}

/* hover change button bg-gradian */

.btn-search {
  position: relative;
  padding: 0.5rem;
  color: white;

  border-radius: 8px;
  background-image: linear-gradient(to bottom right, #00a7b4, #a4d96c);

  z-index: 1;
}

.btn-search:active::before {
  position: absolute;
  border-radius: 8px;

  content: "";

  inset: 0;
  background-image: linear-gradient(to bottom right, #00a7b4, #a4d96c);
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
}

.btn-search::before {
  border-radius: 8px;
  position: absolute;
  content: "";

  inset: 0;
  background-image: linear-gradient(to bottom, #a4d96c, #00a7b4);
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
}

.btn-search:hover::before {
  opacity: 1;
}

/* Field Input  */
.field-input {
  @apply grid grid-cols-1 gap-2;
}
